<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CS_API_Android</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AndroidLogin</display-name>
    <servlet-name>AndroidLogin</servlet-name>
    <servlet-class>AndroidLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidLogin</servlet-name>
    <url-pattern>/AndroidLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidRegister</display-name>
    <servlet-name>AndroidRegister</servlet-name>
    <servlet-class>AndroidRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidRegister</servlet-name>
    <url-pattern>/AndroidRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpsConnectionStatus</display-name>
    <servlet-name>HttpsConnectionStatus</servlet-name>
    <servlet-class>HttpsConnectionStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpsConnectionStatus</servlet-name>
    <url-pattern>/HttpsConnectionStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendLocation</display-name>
    <servlet-name>SendLocation</servlet-name>
    <servlet-class>SendLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendLocation</servlet-name>
    <url-pattern>/SendLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionToUserInfo</display-name>
    <servlet-name>SessionToUserInfo</servlet-name>
    <servlet-class>SessionToUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionToUserInfo</servlet-name>
    <url-pattern>/SessionToUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPathInput</display-name>
    <servlet-name>ShowPathInput</servlet-name>
    <servlet-class>ShowPathInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPathInput</servlet-name>
    <url-pattern>/ShowPathInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>show_path</display-name>
    <servlet-name>show_path</servlet-name>
    <jsp-file>/show_path.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_path</servlet-name>
    <url-pattern>/show_path</url-pattern>
  </servlet-mapping>
</web-app>